.header {
  display: none;
}

@media (max-width: 1300px) {
  .header {
    padding: 24px;
    background-color: $btnColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__leftcol {
      display: flex;
      align-items: center;
      gap: 42px;
    }
    &__rightcol {
      display: flex;
      align-items: center;
      gap: 42px;
      position: relative;
    }
    &__repair::before {
      content: '';
      position: absolute;
      width: 2px;
      background-color: #eaeaea;
      height: 100%;
      top: 0;
      right: 40%;
      border-radius: 1px;
    }
    &__repair {
      gap: 16px !important;
    }
  }
}

@media (max-width: 505px) {
  .header {
    &__contact-btns {
      display: none !important;
    }
    &__repair {
      margin-right: auto;
    }
    &__repair::before {
      display: none;
    }
  }
}
@media (max-width: 370px) {
  .header {
    &__leftcol {
      gap: 16px;
    }
  }
}

@media (max-width: 320px) {
  .header {
    &__repair::before {
      display: block;
      right: 110%;
    }
  }
}
